{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editorial Members</title>
    <style>
  * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }
#detail
{

}
img
{
    float:center;
}


        @media screen and (max-width: 768px) {
             {
                width: calc(50% - 20px);
            }
        }

        @media screen and (max-width: 480px) {
            {
                width: 100%;
            }
        }
    </style>
</head>
<body>
  {% block content %}
   <section class="row">
        <h1 style="text-align:center; padding:10px; color:green"><b>Editorial Board</b></h1>
      <div class="col-sm-4">

      </div>
    <div class="col-sm-4" id="pic">
        <img src="/media/img/Amit singh.jpg" height="150">
        <div class="detail">
            <h4>Mr. Amit Kumar Singh</h4>
            <h3>
                Editor-in-chief<br>
                PhD Research Scholar
            </h3>
        </div>

    </div>
      <div class="col-sm-2">


      </div>
      <div class="col-sm-2">


      </div>
  </section>
  <section class="row">

      <div class="col-sm-4">

      </div>

    <div class="col-sm-4" id="pic">
            <h1 style="tex-align:center; color:green">Editor</h1>
        <img src="/media/img/Rudra Pratap Singh.jpg" height="150">
        <div class="detail">
            <h4>Rudra Pratap Singh</h4>
            <h3>
                Associate Professor/SMS(Plant Protection), Acharya Narendra Deva University of
                Agriculture & Technology, Ayodhya, U.P.
                KVK, Kotwa, Azamgarh, U.P.
            </h3>
        </div>

    </div>
      <div class="col-sm-2">


      </div>
      <div class="col-sm-2">


      </div>
  </section>
  <section class="row">

      <div class="col-sm-4">

      </div>
    <div class="col-sm-4" id="pic">
        <img src="/media/img/Rishi Singh.jpg" height="150">
        <div class="detail">
            <h4>Dr. Rishi Singh</h4>
            <h3>

                Assistant Professor, Department of Agricultural Extension Education, Nandini Nagar P.G.
                College.
            </h3>
        </div>

    </div>
      <div class="col-sm-2">


      </div>
      <div class="col-sm-2">


      </div>
  </section>
   <section class="row">

      <div class="col-sm-4">

      </div>
    <div class="col-sm-4" id="pic">
        <img src="/media/img/Avinash.jpg" height="150">
        <div class="detail">
            <h4>Dr. Avinash Chandra Maurya</h4>
            <h3>

                Assistant Professor, Department of Agronomy, B.R.D. P.G. College
            </h3>
        </div>

    </div>
      <div class="col-sm-2">


      </div>
      <div class="col-sm-2">


      </div>
  </section>
   <section class="row">

      <div class="col-sm-4">

      </div>
    <div class="col-sm-4" id="pic">
        <img src="/media/img/Pritesh.jpg" height="150">
        <div class="detail">
            <h4>Dr. Pritesh Dwivedi</h4>
            <h3>

               Assistant Professor, Department of Agricultural Economics, SHUATS
            </h3>
        </div>

    </div>
      <div class="col-sm-2">


      </div>
      <div class="col-sm-2">


      </div>
  </section>
  <section class="row">

      <div class="col-sm-4">

      </div>
    <div class="col-sm-4" id="pic">
        <img src="/media/img/gargi.jpg" height="150">
        <div class="detail">
            <h4>Dr. Gargi Goswami</h4>
            <h3>

               Assistant Professor, Department of Agronomy, College of Horticulture, VCSG Uttarakhand,
                University of Horticulture and Forestry
            </h3>
        </div>

    </div>
      <div class="col-sm-2">


      </div>
      <div class="col-sm-2">


      </div>
  </section>
  <section class="row">

      <div class="col-sm-4">

      </div>
    <div class="col-sm-4" id="pic">
        <img src="/media/img/Swati.jpg" height="150">
        <div class="detail">
            <h4>Ms. Swati Suman</h4>
            <h3>

               PhD Research Scholar
            </h3>
        </div>

    </div>
      <div class="col-sm-2">


      </div>
      <div class="col-sm-2">


      </div>
  </section>
   <section class="row">

      <div class="col-sm-4">

      </div>
    <div class="col-sm-4" id="pic">
        <img src="/media/img/Aman.jpg" height="150">
        <div class="detail">
            <h4>Mr. Aman Singh</h4>
            <h3>

               Managing Editor <br>
                PhD Research Scholar
            </h3>
        </div>

    </div>
      <div class="col-sm-2">


      </div>
      <div class="col-sm-2">


      </div>
  </section>
  <section class="row">

      <div class="col-sm-4">

      </div>
    <div class="col-sm-4" id="pic">

        <div class="detail">
           <h1>Associate Editor</h1>
            <h2> Dr. Nilesh Madanrao Maske</h2><br>
            <h3> Principal, MGM’s Nanasaheb Kadam College of Agriculture, Aurangabad, M.H.</h3><br>
            <h2> Dr. Sanjay Gupta</h2><br>
            <h3>Assistant Professor, Department of Agricultural Extension, Amar Singh P.G. College.</h3><br>
            <h2>Dr. Raj Pandey</h2><br>
            <h3>Faculty, T.D. College.</h3><br>
            <h2>Mr. Ravindra Arjunrao Shelke</h2><br>
            <h3>Assistant Professor, MGM’s Nana Saheb Kadam College of Agriculture, Aurangabad, M.H.</h3><br>
               <h1>Editorial Board Member</h1> <br>
           <h2> Mr. Uddeshy Kaushik<br>
            Mr. Sandeep Yadav<br></h2>
        </div>

    </div>
      <div class="col-sm-2">


      </div>
      <div class="col-sm-2">


      </div>
  </section>
    {% endblock %}
</body>
</html>

